/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  background-color: #ff0000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0000'/%3E%3Cstop offset='1' stop-color='%23E0F'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0019'/%3E%3Cstop offset='1' stop-color='%23ce00f3'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0031'/%3E%3Cstop offset='1' stop-color='%23b000e6'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%23ff004a'/%3E%3Cstop offset='1' stop-color='%239400da'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0063'/%3E%3Cstop offset='1' stop-color='%237a00ce'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23ff007c'/%3E%3Cstop offset='1' stop-color='%236200c1'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0094'/%3E%3Cstop offset='1' stop-color='%234d00b5'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00ad'/%3E%3Cstop offset='1' stop-color='%233900a8'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00c6'/%3E%3Cstop offset='1' stop-color='%2328009c'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00df'/%3E%3Cstop offset='1' stop-color='%23180090'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00f7'/%3E%3Cstop offset='1' stop-color='%230b0083'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23E0F'/%3E%3Cstop offset='1' stop-color='%23007'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

h1, h2, h3, h4 {
  color: white;
  font-weight: 700;
}

h1 {
  font-size: 8rem;
  font-weight: 700;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
}

input {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

#getSongs {
  font-size: 2rem;
}

#getSongs:hover {
  background-color: rgb(59, 27, 164);
  cursor: pointer;
}

#reset {
  font-size: 1.5rem;
  background-color: rgb(96, 35, 186);
  display: inline-block;
  margin-top: 0;
}

#reset:hover {
  background-color: rgb(138, 26, 210);
  cursor: pointer;
}

h3 {
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2rem;
  color: black;
  border-radius: 6px;
}

.wrapper{
  width: 60vw;
  margin: 0 auto;
}

li {
  text-align: left;
  margin-left: 43vw;
  padding: 1rem;
  font-size: 1.7rem
}

section{
  display: inline-block;
}

button {
  display: block;
  padding: 10px 20px;
  margin: 2rem auto;
  background-color: rgb(18, 18, 134);
  border-radius: 6px;
  color: white;
}

h3 {
  margin: 1.5rem;
}

ul{
  padding: 0;
  margin: 0;
  font-size: 2rem;
  color: white;
}

span {
  font-size: 1.2rem;
  color: white;
  display: block;
  margin-bottom: .5rem;
}
span a{
  color: white;
}
footer {
  margin-top: auto;
  margin-bottom: 1rem;
  padding-top: 4rem;
}

table {
  color: white;
  text-align: left;
  table-layout: auto;
  margin: 1rem 2rem;
  line-height: 2rem;
}
th {
  border-bottom: 3px dotted black;
}
td {
  border-bottom: 2px dotted white;
}

th {
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px black;
}
td {
  font-size: 1.2rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


@media screen and (max-width: 1491px) {
  h1 {
    font-size: 10rem;
    min-height: 30px;
    margin-bottom: 3rem;
  }

  input {
    margin-bottom: 2rem;
  }
}